 <!-- About Section -->
    <section id="guidelines">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Linee Guida</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>Alcune linee guida per i gruppi locali:</p>
                    <ul>
                        <li>Fai rispettare il codice di condotta</li>
                        <li>Sii frugale, cerca qualcuno che vi possa ospitare grauitamente</li>
                        <li>Programmare brucia energia, cerca uno sponsor che possa offrire un rinfresco</li>
                        <li>Non organizzare eventi senza l'accordo con un maintainer di un progetto, vogliamo essere un aiuto e non un fardello</li>
                        <li>Non strafare: 5 partecipanti per organizzatore / maintainer / contributore sono un buon rapporto per essere produttivi</li>
                        <li>Come organizzatore dovrai farti carico della buona riuscita della serata</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
